.container {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex: 1;
    min-height: 0;
}

.infoCardContainer {
    display: flex;
    flex-direction: column;
}

@media (max-aspect-ratio: 1) {
    .content {
        flex-direction: column-reverse;
    }
}
