.container {
    position: relative;
    flex: 1;
}

.content {
    overflow-y: auto;
    flex: 1;
}

@media (max-aspect-ratio: 1) {
    .container {
        flex: unset;
        height: 40dvh;
        width: 100dvw !important;
    }
}
