.header {
    display: flex;
    align-items: center;
    padding: 10px;
    text-align: center;
    justify-content: center;
    box-shadow:
        0 1px 2px rgba(60, 64, 67, 0.1),
        0 2px 6px 2px rgba(60, 64, 67, 0.05);
    margin-bottom: 3px;
    background-color: white;
}

.headerAccent {
    flex: 1;
    border-bottom: 1px solid #ddd;
    margin: 10px;
}

.content {
    overflow-y: auto;
    flex: 1;
}
