.container {
    cursor: ew-resize;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -5px;
    width: 7px;
}

@media (max-aspect-ratio: 1) {
    .container {
        display: none;
    }
}
