.container {
    flex: 1;
    background: #021630;
    align-items: center;
    justify-content: center;
    position: relative;
    min-width: 0;
    display: flex;
}

.loading {
    position: absolute;
    font-size: 16px;
    color: #fff;
    font-style: italic;
    text-align: center;
    transition: all 500ms;
    z-index: 1;
}

.isMapInitialized .loading {
    opacity: 0;
}

.map {
    opacity: 0;
    transition: all 1000ms;
    transition-delay: 300ms;
    z-index: 50;
}

.isMapInitialized .map {
    opacity: 1;
}

.star {
    position: absolute;
    background-color: white;
}
